h1,p,h2,h3{
    font-family: 'Ubuntu', sans-serif;
}
.main_container{
    position: relative;
}
.main_container_div{
    display: flex;
    justify-content: space-around;
}

.seller_buyer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.company_country {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.form_number{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

}
.seller_btn{
    width: 10rem;
    height: 2.5rem;
    outline: none;
    background: #4A148C;
    color: white;
    border: 1px solid #4A148C;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}
.buyer_btn{
    width: 10rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid #dadada;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.company_input{
    width: 14rem;
    height: 2rem;
    border-radius: 4px;
    outline: none;
    border: 2px solid #dadada;
    padding-left: .5rem;
}
.sel_country{
    width: 14rem;
    height: 2.5rem;
    border-radius: 4px;
    outline: none;
    border: 2px solid #dadada;
    padding-left: .5rem;
}
.sel_phone_num{
    width: 5rem;
    height: 2.4rem;
    outline: none;
    border: 2px solid #dadada;
    padding-left: .5rem;
    border-radius: 4px;
}
.phone_input{
    width: 10.5rem;
    height: 2rem;
    outline: none;
    border: 2px solid #dadada;
    padding-left: .5rem;
    border-radius: 4px;
}
.website_input{
    width: 10.5rem;
    height: 2rem;
    outline: none;
    border: 2px solid #dadada;
    padding-left: .5rem;
    border-radius: 4px;
}
.email_input{
    width: 30rem;
    height: 2rem;
    outline: none;
    border: 2px solid #dadada;
    padding-left: .5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.password_input{
    width: 30rem;
    height: 2rem;
    outline: none;
    border: 2px solid #dadada;
    padding-left: .5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background: white;
}
.input_password_input{
    width: 28rem;
    padding-top: .5rem;
    border: none;
    outline: none;
}
.register_input_btn{
    width: 30.8rem;
    height: 2.5rem;
    background: #4A148C;
    color: white;
    border: 2px solid #4A148C;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.terms_cond_p p{
    color: gray;
}
.terms_cond_p p span a{
    text-decoration: none;
    color: #008FE3;
}